@page "/login"
@using BlazorApp.Application.RequestModels
@using BlazorApp.Client.Services
@inject IAuthenticationService AuthService;
@inject NavigationManager NavigationManager

<h1>Login</h1>
<EditForm Model="@Login" OnValidSubmit="LoginUser">
    <DataAnnotationsValidator />
    <div class="mb-3">
        <label for="Login" class="form-label">Логин</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Login.Login" />
        </div>
        <ValidationMessage For="@(() => Login.Login)" />
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <div class="col-md-4">
            <InputText class="form-control" @bind-Value="Login.Password" />
        </div>
        <ValidationMessage For="@(() => Login.Password)" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-light" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>
<br />

@code {
    protected LoginRequest Login = new();

    protected async Task LoginUser()
    {
        await AuthService.Login(Login);
        Cancel();
    }

    public void Cancel()
    {
        NavigationManager.NavigateTo("/fetchjobSeekerdetails");
    }
}
